<div class="container-boxed site-footer__container text-center">
  <div class="footer_wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
    <div class="footer-banner-wrapper">
      <div class="swiper marquee-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="/images/icons/schengen.svg" alt="schengen" loading="lazy" decoding="async" class="footer-destination-icon"/></div>
          <div class="swiper-slide"><img src="/images/icons/us.svg" alt="us" loading="lazy" decoding="async" class="footer-destination-icon"/></div>
          <div class="swiper-slide"><img src="/images/icons/uk.svg" alt="uk" loading="lazy" decoding="async" class="footer-destination-icon"/></div>
          <div class="swiper-slide"><img src="/images/icons/canada.svg" alt="canada" loading="lazy" decoding="async" class="footer-destination-icon"/></div>
          <div class="swiper-slide"><img src="/images/icons/australia.svg" alt="australia" loading="lazy" decoding="async" class="footer-destination-icon"/></div>
          <div class="swiper-slide"><img src="/images/icons/new-zealand.svg" alt="new-zealand" loading="lazy" decoding="async" class="footer-destination-icon"/></div>
          <div class="swiper-slide"><img src="/images/icons/visa.svg" alt="visa" loading="lazy" decoding="async" class="footer-destination-icon"/></div>
        </div>
      </div>
    </div>
    <div class="footer-content-wrapper wrapper">
      <div class="footer_left">
        <a href="/" class="logo-text-wrapper">
          <img class="logo-img" src="/images/brand/logo-white.svg" alt="The Flying Panda" width="180" height="92">
        </a>
        <p class="footer-tagline">Travel Boldly: Your Partner in Seamless Visa Solutions</p>
        <div class="footer-social-wrapper">
          <p class="h5">Connect with The Flying Panda</p>
          <div class="socials">
            <a class="link link--trans" href="https://www.facebook.com/theflyingpanda.io" target="_blank" rel="noopener">facebook</a>
            <a class="link link--trans" href="https://www.instagram.com/theflyingpanda.io/" target="_blank" rel="noopener">instagram</a>
            <a class="link link--trans" href="https://wa.me/447553768098" target="_blank" rel="noopener">whatsapp</a>
          </div>
        </div>
      </div>
      <div class="footer_right">
        <div class="footer_contact">
          <p>The Long Lodge 265-269 Kingston Road</p>
          <p>Wimbledon, United Kingdom SW19 3NW</p>
          <a class="link link--trans link--white" href="tel:+447553768098">T. +44 7553 768098</a>
          <a class="link link--trans link--white" href="mailto:theflyingpanda.io@gmail.com"><span>E.</span> <span>theflyingpanda.io@gmail.com</span></a>
        </div>
        <div class="footer-nav-wrapper">
          <div class="footer-primary-menu">
            <p class="footer-menu-title">Info</p>
            <ul class="menu">
              <li class="menu-item"><a href="/aboutus" class="link link--trans link--white">About Us</a></li>
              <li class="menu-item"><a href="/services" class="link link--trans link--white">Services</a></li>
              <li class="menu-item"><a href="/pricing" class="link link--trans link--white">Pricing</a></li>
              <li class="menu-item"><a href="/terms" class="link link--trans link--white">T&amp;C</a></li>
              <li class="menu-item"><a href="/privacy-policy" class="link link--trans link--white">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer-secondary-menu">
            <p class="footer-menu-title">Support</p>
            <ul class="menu">
              <li class="menu-item"><a href="/contact" class="link link--trans link--white">Contact Us</a></li>
              <li class="menu-item"><a href="/faq" class="link link--trans link--white">FAQs</a></li>
              <li class="menu-item"><a href="https://chat.whatsapp.com/L9tbuo89XvQDA9y61OrEP6" target="_blank" rel="noopener" class="link link--trans link--white">Visa Community</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-wrapper wrapper">
      <div class="footer_bottom">
        <div class="copyright-info">2026 © TheFlyingPanda Ltd</div>
        <div class="footer-bottom-links">
          <a href="/terms">Terms and Conditions</a>
          <div class="divider"></div>
          <a href="/privacy-policy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
